@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

* {
  box-sizing: border-box;
  margin: 0 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 72px;
  font-family: 'Amatic SC', cursive;
}

button {
  background: none;
  border: 0;
  margin: 1em;
  padding: 15px;
  box-shadow: inset 0 0 0 2px black;
  font-weight: bold;
  color: black;
  font-size: 30px;
  transition: 0.05s ease-out;
  font-family: 'Amatic SC', cursive;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.reset-area {
  text-align: center;
}

.canvas {
  text-align: center;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 600px;
  height: 600px;
}
